<div class="container">
<!-- Typography Container -->
  <div class="layoutContainer colorGradientRange4">
      <div class="typographyCard">
          <section>
            <header class="typographyCardHeader">
                <h1>Font Family: Avenir Next</h1>
                <h2>Base Size 16px = 1em = 1rem</h2>
                <h3>1.333 Scale: Perfect Fourth</h3>
            </header>
          </section>
          <div class="typographySampleBox">
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">3.157rem </div>
                <div class="sampleFontColumn superLargeFontSize">Super Large Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">2.369rem</div>
                <div class="sampleFontColumn largestFontSize">Largest Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">1.777rem</div>
                <div class="sampleFontColumn largerFontSize">Larger Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">1.333rem</div>
                <div class="sampleFontColumn largeFontSize">Large Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">1rem</div>
                <div class="sampleFontColumn fontSize">Default Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">0.75rem</div>
                <div class="sampleFontColumn smallSize">Small Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">0.563rem</div>
                <div class="sampleFontColumn smallerFontSize">Smaller Font Size</div>
            </div>
            <div class="sampleFontRow">
                <div class="sampleFontColumn fontSize">0.422rem</div>
                <div class="sampleFontColumn smallestFontSize">Smallest Font Size</div>
            </div>
          </div>
      </div>
  </div>
<!-- End Typography Container -->
<!-- Typography Weight Container -->
<div class="layoutContainer colorGradientRange4">
    <div class="typographyCard">
        <section>
          <header class="typographyCardHeader">
              <h1>Font Weight: 100 - Extra Ultra Light</h1>
          </header>
        </section>
        <div class="typographySampleBox">
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">3.157rem </div>
              <div class="sampleFontColumn superLargeFontSize fontWeightExtraUltraLight">Super Large Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">2.369rem</div>
              <div class="sampleFontColumn largestFontSize fontWeightExtraUltraLight">Largest Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.777rem</div>
              <div class="sampleFontColumn largerFontSize fontWeightExtraUltraLight">Larger Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.333rem</div>
              <div class="sampleFontColumn largeFontSize fontWeightExtraUltraLight">Large Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1rem</div>
              <div class="sampleFontColumn fontSize fontWeightExtraUltraLight">Default Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.75rem</div>
              <div class="sampleFontColumn smallSize fontWeightExtraUltraLight">Small Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.563rem</div>
              <div class="sampleFontColumn smallerFontSize fontWeightExtraUltraLight">Smaller Font Size</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.422rem</div>
              <div class="sampleFontColumn smallestFontSize fontWeightExtraUltraLight">Smallest Font Size</div>
          </div>
        </div>
    </div>
</div>
<!-- End Typography Container -->
<!-- Heading Typography Container -->
<div class="layoutContainer colorGradientRange4">
    <div class="typographyCard">
        <section>
          <header class="typographyCardHeader">
              <h1>Headings H1-H6</h1>
              <h2>Headings are based on the font type and font scale above.</h2>
              <p>
                Use H1-H6 when needed since they are semantic and accessible to screenreaders.
                Use .H1 - .H6 classes for any other areas that need the same scale but not unless you cannot use the H1-H6 headings.
              </p>
          </header>
        </section>
        <div class="typographySampleBox">
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">2.369rem</div>
              <div class="sampleFontColumn"><h1>H1 - Heading 1</h1></div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.777rem</div>
              <div class="sampleFontColumn"><h2>H2 - Heading 2</h2></div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.333rem</div>
              <div class="sampleFontColumn"><h3>H3 - Heading 3</h3></div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1rem</div>
              <div class="sampleFontColumn"><h4>H4 - Heading 4</h4></div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.75rem</div>
              <div class="sampleFontColumn"><h5>H5 - Heading 5</h5></div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.563rem</div>
              <div class="sampleFontColumn"><h6>H6 - Heading 6</h6></div>
          </div>
         
        </div>
    </div>
</div>
<!-- End Typography Heading Container -->
<!-- Heading Typography Container -->
<div class="layoutContainer colorGradientRange4">
    <div class="typographyCard">
        <section>
          <header class="typographyCardHeader">
              <h1>Font Family: Avenir Next</h1>
              <h2>Base Size 16px = 1em = 1rem</h2>
              <h3>1.333 Scale: Perfect Fourth</h3>
          </header>
        </section>
        <div class="typographySampleBox">
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">3.157rem </div>
              <div class="sampleFontColumn superLargeFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">2.369rem</div>
              <div class="sampleFontColumn largestFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.777rem</div>
              <div class="sampleFontColumn largerFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1.333rem</div>
              <div class="sampleFontColumn largeFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">1rem</div>
              <div class="sampleFontColumn fontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.75rem</div>
              <div class="sampleFontColumn smallSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.563rem</div>
              <div class="sampleFontColumn smallerFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
          <div class="sampleFontRow">
              <div class="sampleFontColumn fontSize">0.422rem</div>
              <div class="sampleFontColumn smallestFontSize">Scaled Typography is functional as well as beautiful design</div>
          </div>
        </div>
    </div>
</div>
<!-- End Typography Heading Container -->
</div>
