@import '~sass/variables';
/** TODO: REFACTOR DUP CODE **/
.graphCard{
    background-color: $defaultBackgroundColor;
    box-shadow: $defaultBoxShadow;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphCardHeader {
    padding: 1rem;
    width: 10rem;
}

.graphCardHeader > h3{
    color: #039be5;
}

.graph{
    display: inline-flex;
    background-color: #011924;
    height: 100%;
    padding: 1rem;
    box-sizing: content-box;
    align-items: flex-end;
    margin: 0 1rem 1rem 1rem;
    color: $white;
}
/** TODO: REFACTOR DUP CODE **/

.strokeColor1{
    stroke: $graphColor1;
}

.strokeColor2{
    stroke: $graphColor2;
}

.strokeColor3{
    stroke: $graphColor3;
}

.strokeColor4{
    stroke: $graphColor4;
}

.strokeColor5{
    stroke: $graphColor5;
}

.strokeColor6{
    stroke: $graphColor6;
}

.progress {
    transform: rotate(-90deg);
}

.progress_value,.progress_meter{
    fill: none;
}

/** Circle text progres value that appears in the radial indicator center **/
.circle-text-progress-value{
    text-anchor: middle;
    font-size: 1rem;
    fill: $white;
}

.progress_meter{
    stroke: $white;
    opacity: 0.25;
}

.progress_value{
    stroke-linecap: round;
    // transition: stroke-dasharray 2s ease-in;
}

.progress_value_transition{
    transition: stroke-dasharray 2s ease-in;
}

.progress_linecap_round{
    stroke-linecap: round;
}

.progress_linecap_square{
    stroke-linecap: square;
}

.progress_linecap_butt{
    stroke-linecap: butt;
}


.animated_full_progress_indicator {
    stroke-dasharray:  339.292;
    stroke-dashoffset: 339.292;
    animation: progress 2s infinite alternate;
}

.animated_progress_value{
    // stroke-dasharray:  339.292;
    // stroke-dashoffset: 339.292;
    animation: progress 2s infinite alternate;
}

@keyframes progress{
    from {
        stroke-dashoffset: 339.292;
    }
    to {
        stroke-dashoffset: 0;
    }
}