<div class="container">
   <!-- Vertical Cards -->
   <div class="layoutContainer">
      <div class="columnCard">
        <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
        </header>
        <div class="cardContent">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
      </div>
        <div class="columnCard">
            <section>
              <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent">
                <div class="graphBar graphBarStyle2" style="height:10px"></div>
                <div class="graphBar graphBarStyle2" style="height:20px"></div>
                <div class="graphBar graphBarStyle2" style="height:30px"></div>
                <div class="graphBar graphBarStyle2" style="height:40px"></div>
                <div class="graphBar graphBarStyle2" style="height:50px"></div>
                <div class="graphBar graphBarStyle2" style="height:60px"></div>
                <div class="graphBar graphBarStyle2" style="height:70px"></div>
            </div>
        </div>
        <div class="columnCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent">
                <div class="graphBar graphBarStyle3" style="height:10px"></div>
                <div class="graphBar graphBarStyle3" style="height:20px"></div>
                <div class="graphBar graphBarStyle3" style="height:30px"></div>
                <div class="graphBar graphBarStyle3" style="height:40px"></div>
                <div class="graphBar graphBarStyle3" style="height:50px"></div>
                <div class="graphBar graphBarStyle3" style="height:60px"></div>
                <div class="graphBar graphBarStyle3" style="height:70px"></div>
            </div>
        </div>
        <div class="columnCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent">
                <div class="graphBar graphBarStyle4" style="height:10px"></div>
                <div class="graphBar graphBarStyle4" style="height:20px"></div>
                <div class="graphBar graphBarStyle4" style="height:30px"></div>
                <div class="graphBar graphBarStyle4" style="height:40px"></div>
                <div class="graphBar graphBarStyle4" style="height:50px"></div>
                <div class="graphBar graphBarStyle4" style="height:60px"></div>
                <div class="graphBar graphBarStyle4" style="height:70px"></div>
            </div>
          </div>
          <div class="columnCard">
              <section>
                <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
                </header>
              </section>
              <div class="cardContent">
                  <div class="graphBar graphBarStyle5" style="height:10px"></div>
                  <div class="graphBar graphBarStyle5" style="height:20px"></div>
                  <div class="graphBar graphBarStyle5" style="height:30px"></div>
                  <div class="graphBar graphBarStyle5" style="height:40px"></div>
                  <div class="graphBar graphBarStyle5" style="height:50px"></div>
                  <div class="graphBar graphBarStyle5" style="height:60px"></div>
                  <div class="graphBar graphBarStyle5" style="height:70px"></div>
              </div>
          </div>
    </div>
<!-- Vertical Cards With Curved Corners -->
  <div class="layoutContainer">
    <div class="columnCard">
        <section>
          <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-borderRadius">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-borderRadius">
              <div class="graphBar graphBarStyle2" style="height:10px"></div>
              <div class="graphBar graphBarStyle2" style="height:20px"></div>
              <div class="graphBar graphBarStyle2" style="height:30px"></div>
              <div class="graphBar graphBarStyle2" style="height:40px"></div>
              <div class="graphBar graphBarStyle2" style="height:50px"></div>
              <div class="graphBar graphBarStyle2" style="height:60px"></div>
              <div class="graphBar graphBarStyle2" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-borderRadius">
              <div class="graphBar graphBarStyle3" style="height:10px"></div>
              <div class="graphBar graphBarStyle3" style="height:20px"></div>
              <div class="graphBar graphBarStyle3" style="height:30px"></div>
              <div class="graphBar graphBarStyle3" style="height:40px"></div>
              <div class="graphBar graphBarStyle3" style="height:50px"></div>
              <div class="graphBar graphBarStyle3" style="height:60px"></div>
              <div class="graphBar graphBarStyle3" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-borderRadius">
              <div class="graphBar graphBarStyle4" style="height:10px"></div>
              <div class="graphBar graphBarStyle4" style="height:20px"></div>
              <div class="graphBar graphBarStyle4" style="height:30px"></div>
              <div class="graphBar graphBarStyle4" style="height:40px"></div>
              <div class="graphBar graphBarStyle4" style="height:50px"></div>
              <div class="graphBar graphBarStyle4" style="height:60px"></div>
              <div class="graphBar graphBarStyle4" style="height:70px"></div>
          </div>
        </div>
        <div class="columnCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-borderRadius">
                <div class="graphBar graphBarStyle5" style="height:10px"></div>
                <div class="graphBar graphBarStyle5" style="height:20px"></div>
                <div class="graphBar graphBarStyle5" style="height:30px"></div>
                <div class="graphBar graphBarStyle5" style="height:40px"></div>
                <div class="graphBar graphBarStyle5" style="height:50px"></div>
                <div class="graphBar graphBarStyle5" style="height:60px"></div>
                <div class="graphBar graphBarStyle5" style="height:70px"></div>
            </div>
        </div>
  </div>
<!-- Vertical Cards No Margin -->
<div class="layoutContainer">
    <div class="columnCard">
        <section>
          <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin">
              <div class="graphBar graphBarStyle2" style="height:10px"></div>
              <div class="graphBar graphBarStyle2" style="height:20px"></div>
              <div class="graphBar graphBarStyle2" style="height:30px"></div>
              <div class="graphBar graphBarStyle2" style="height:40px"></div>
              <div class="graphBar graphBarStyle2" style="height:50px"></div>
              <div class="graphBar graphBarStyle2" style="height:60px"></div>
              <div class="graphBar graphBarStyle2" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin">
              <div class="graphBar graphBarStyle3" style="height:10px"></div>
              <div class="graphBar graphBarStyle3" style="height:20px"></div>
              <div class="graphBar graphBarStyle3" style="height:30px"></div>
              <div class="graphBar graphBarStyle3" style="height:40px"></div>
              <div class="graphBar graphBarStyle3" style="height:50px"></div>
              <div class="graphBar graphBarStyle3" style="height:60px"></div>
              <div class="graphBar graphBarStyle3" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin">
              <div class="graphBar graphBarStyle4" style="height:10px"></div>
              <div class="graphBar graphBarStyle4" style="height:20px"></div>
              <div class="graphBar graphBarStyle4" style="height:30px"></div>
              <div class="graphBar graphBarStyle4" style="height:40px"></div>
              <div class="graphBar graphBarStyle4" style="height:50px"></div>
              <div class="graphBar graphBarStyle4" style="height:60px"></div>
              <div class="graphBar graphBarStyle4" style="height:70px"></div>
          </div>
        </div>
        <div class="columnCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin">
                <div class="graphBar graphBarStyle5" style="height:10px"></div>
                <div class="graphBar graphBarStyle5" style="height:20px"></div>
                <div class="graphBar graphBarStyle5" style="height:30px"></div>
                <div class="graphBar graphBarStyle5" style="height:40px"></div>
                <div class="graphBar graphBarStyle5" style="height:50px"></div>
                <div class="graphBar graphBarStyle5" style="height:60px"></div>
                <div class="graphBar graphBarStyle5" style="height:70px"></div>
            </div>
        </div>
  </div>

<!-- Vertical Cards No Margin & Border Radius-->
<div class="layoutContainer">
    <div class="columnCard columnCard-borderRadius">
        <section>
          <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin cardContent-borderRadius">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
      <div class="columnCard columnCard-borderRadius">
          <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin  cardContent-borderRadius">
              <div class="graphBar graphBarStyle2" style="height:10px"></div>
              <div class="graphBar graphBarStyle2" style="height:20px"></div>
              <div class="graphBar graphBarStyle2" style="height:30px"></div>
              <div class="graphBar graphBarStyle2" style="height:40px"></div>
              <div class="graphBar graphBarStyle2" style="height:50px"></div>
              <div class="graphBar graphBarStyle2" style="height:60px"></div>
              <div class="graphBar graphBarStyle2" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard columnCard-borderRadius">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin cardContent-borderRadius">
              <div class="graphBar graphBarStyle3" style="height:10px"></div>
              <div class="graphBar graphBarStyle3" style="height:20px"></div>
              <div class="graphBar graphBarStyle3" style="height:30px"></div>
              <div class="graphBar graphBarStyle3" style="height:40px"></div>
              <div class="graphBar graphBarStyle3" style="height:50px"></div>
              <div class="graphBar graphBarStyle3" style="height:60px"></div>
              <div class="graphBar graphBarStyle3" style="height:70px"></div>
          </div>
      </div>
      <div class="columnCard columnCard-borderRadius">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin cardContent-borderRadius">
              <div class="graphBar graphBarStyle4" style="height:10px"></div>
              <div class="graphBar graphBarStyle4" style="height:20px"></div>
              <div class="graphBar graphBarStyle4" style="height:30px"></div>
              <div class="graphBar graphBarStyle4" style="height:40px"></div>
              <div class="graphBar graphBarStyle4" style="height:50px"></div>
              <div class="graphBar graphBarStyle4" style="height:60px"></div>
              <div class="graphBar graphBarStyle4" style="height:70px"></div>
          </div>
        </div>
        <div class="columnCard columnCard-borderRadius">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin cardContent-borderRadius">
                <div class="graphBar graphBarStyle5" style="height:10px"></div>
                <div class="graphBar graphBarStyle5" style="height:20px"></div>
                <div class="graphBar graphBarStyle5" style="height:30px"></div>
                <div class="graphBar graphBarStyle5" style="height:40px"></div>
                <div class="graphBar graphBarStyle5" style="height:50px"></div>
                <div class="graphBar graphBarStyle5" style="height:60px"></div>
                <div class="graphBar graphBarStyle5" style="height:70px"></div>
            </div>
        </div>
  </div>
<!-- Horizontal Cards -->
    <div class="layoutContainer">
        <div class="rowCard">
            <section>
              <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent">
                <div class="graphBar graphBarStyle1" style="height:10px"></div>
                <div class="graphBar graphBarStyle1" style="height:20px"></div>
                <div class="graphBar graphBarStyle1" style="height:30px"></div>
                <div class="graphBar graphBarStyle1" style="height:40px"></div>
                <div class="graphBar graphBarStyle1" style="height:50px"></div>
                <div class="graphBar graphBarStyle1" style="height:60px"></div>
                <div class="graphBar graphBarStyle1" style="height:70px"></div>
            </div>
        </div>
          <div class="rowCard">
              <section>
                <header class="cardHeader">
                    <h3>Card Title</h3>
                    <h4>Sub-heading</h4>
                </header>
              </section>
              <div class="cardContent">
                  <div class="graphBar graphBarStyle2" style="height:10px"></div>
                  <div class="graphBar graphBarStyle2" style="height:20px"></div>
                  <div class="graphBar graphBarStyle2" style="height:30px"></div>
                  <div class="graphBar graphBarStyle2" style="height:40px"></div>
                  <div class="graphBar graphBarStyle2" style="height:50px"></div>
                  <div class="graphBar graphBarStyle2" style="height:60px"></div>
                  <div class="graphBar graphBarStyle2" style="height:70px"></div>
              </div>
          </div>
          <div class="rowCard">
              <section>
                <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
                </header>
              </section>
              <div class="cardContent">
                  <div class="graphBar graphBarStyle3" style="height:10px"></div>
                  <div class="graphBar graphBarStyle3" style="height:20px"></div>
                  <div class="graphBar graphBarStyle3" style="height:30px"></div>
                  <div class="graphBar graphBarStyle3" style="height:40px"></div>
                  <div class="graphBar graphBarStyle3" style="height:50px"></div>
                  <div class="graphBar graphBarStyle3" style="height:60px"></div>
                  <div class="graphBar graphBarStyle3" style="height:70px"></div>
              </div>
          </div>
          <div class="rowCard">
              <section>
                <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
                </header>
              </section>
              <div class="cardContent">
                  <div class="graphBar graphBarStyle4" style="height:10px"></div>
                  <div class="graphBar graphBarStyle4" style="height:20px"></div>
                  <div class="graphBar graphBarStyle4" style="height:30px"></div>
                  <div class="graphBar graphBarStyle4" style="height:40px"></div>
                  <div class="graphBar graphBarStyle4" style="height:50px"></div>
                  <div class="graphBar graphBarStyle4" style="height:60px"></div>
                  <div class="graphBar graphBarStyle4" style="height:70px"></div>
              </div>
            </div>
            <div class="rowCard">
                <section>
                  <header class="cardHeader">
                    <h3>Card Title</h3>
                    <h4>Sub-heading</h4>
                  </header>
                </section>
                <div class="cardContent">
                    <div class="graphBar graphBarStyle5" style="height:10px"></div>
                    <div class="graphBar graphBarStyle5" style="height:20px"></div>
                    <div class="graphBar graphBarStyle5" style="height:30px"></div>
                    <div class="graphBar graphBarStyle5" style="height:40px"></div>
                    <div class="graphBar graphBarStyle5" style="height:50px"></div>
                    <div class="graphBar graphBarStyle5" style="height:60px"></div>
                    <div class="graphBar graphBarStyle5" style="height:70px"></div>
                </div>
            </div>
      </div>
<!-- Horizontal Cards with Card Content Border Radius -->
<div class="layoutContainer">
    <div class="rowCard">
        <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
        </section>
        <div class="cardContent cardContent-borderRadius">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
        <div class="rowCard">
            <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
            </section>
            <div class="cardContent cardContent-borderRadius">
                <div class="graphBar graphBarStyle2" style="height:10px"></div>
                <div class="graphBar graphBarStyle2" style="height:20px"></div>
                <div class="graphBar graphBarStyle2" style="height:30px"></div>
                <div class="graphBar graphBarStyle2" style="height:40px"></div>
                <div class="graphBar graphBarStyle2" style="height:50px"></div>
                <div class="graphBar graphBarStyle2" style="height:60px"></div>
                <div class="graphBar graphBarStyle2" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
            </section>
            <div class="cardContent cardContent-borderRadius">
                <div class="graphBar graphBarStyle3" style="height:10px"></div>
                <div class="graphBar graphBarStyle3" style="height:20px"></div>
                <div class="graphBar graphBarStyle3" style="height:30px"></div>
                <div class="graphBar graphBarStyle3" style="height:40px"></div>
                <div class="graphBar graphBarStyle3" style="height:50px"></div>
                <div class="graphBar graphBarStyle3" style="height:60px"></div>
                <div class="graphBar graphBarStyle3" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
            </section>
            <div class="cardContent cardContent-borderRadius">
                <div class="graphBar graphBarStyle4" style="height:10px"></div>
                <div class="graphBar graphBarStyle4" style="height:20px"></div>
                <div class="graphBar graphBarStyle4" style="height:30px"></div>
                <div class="graphBar graphBarStyle4" style="height:40px"></div>
                <div class="graphBar graphBarStyle4" style="height:50px"></div>
                <div class="graphBar graphBarStyle4" style="height:60px"></div>
                <div class="graphBar graphBarStyle4" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
                <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
                </header>
            </section>
            <div class="cardContent cardContent-borderRadius">
                <div class="graphBar graphBarStyle5" style="height:10px"></div>
                <div class="graphBar graphBarStyle5" style="height:20px"></div>
                <div class="graphBar graphBarStyle5" style="height:30px"></div>
                <div class="graphBar graphBarStyle5" style="height:40px"></div>
                <div class="graphBar graphBarStyle5" style="height:50px"></div>
                <div class="graphBar graphBarStyle5" style="height:60px"></div>
                <div class="graphBar graphBarStyle5" style="height:70px"></div>
            </div>
        </div>
    </div>
<!-- Horizontal Cards 2 - No Spacing on Card Content -->
    <div class="layoutContainer">
        <div class="rowCard">
            <section>
              <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin">
                <div class="graphBar graphBarStyle1" style="height:10px"></div>
                <div class="graphBar graphBarStyle1" style="height:20px"></div>
                <div class="graphBar graphBarStyle1" style="height:30px"></div>
                <div class="graphBar graphBarStyle1" style="height:40px"></div>
                <div class="graphBar graphBarStyle1" style="height:50px"></div>
                <div class="graphBar graphBarStyle1" style="height:60px"></div>
                <div class="graphBar graphBarStyle1" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
              <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin">
                <div class="graphBar graphBarStyle2" style="height:10px"></div>
                <div class="graphBar graphBarStyle2" style="height:20px"></div>
                <div class="graphBar graphBarStyle2" style="height:30px"></div>
                <div class="graphBar graphBarStyle2" style="height:40px"></div>
                <div class="graphBar graphBarStyle2" style="height:50px"></div>
                <div class="graphBar graphBarStyle2" style="height:60px"></div>
                <div class="graphBar graphBarStyle2" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin">
                <div class="graphBar graphBarStyle3" style="height:10px"></div>
                <div class="graphBar graphBarStyle3" style="height:20px"></div>
                <div class="graphBar graphBarStyle3" style="height:30px"></div>
                <div class="graphBar graphBarStyle3" style="height:40px"></div>
                <div class="graphBar graphBarStyle3" style="height:50px"></div>
                <div class="graphBar graphBarStyle3" style="height:60px"></div>
                <div class="graphBar graphBarStyle3" style="height:70px"></div>
            </div>
        </div>
        <div class="rowCard">
            <section>
              <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
              </header>
            </section>
            <div class="cardContent cardContent-noMargin">
                <div class="graphBar graphBarStyle4" style="height:10px"></div>
                <div class="graphBar graphBarStyle4" style="height:20px"></div>
                <div class="graphBar graphBarStyle4" style="height:30px"></div>
                <div class="graphBar graphBarStyle4" style="height:40px"></div>
                <div class="graphBar graphBarStyle4" style="height:50px"></div>
                <div class="graphBar graphBarStyle4" style="height:60px"></div>
                <div class="graphBar graphBarStyle4" style="height:70px"></div>
            </div>
          </div>
          <div class="rowCard">
              <section>
                <header class="cardHeader">
                  <h3>Card Title</h3>
                  <h4>Sub-heading</h4>
                </header>
              </section>
              <div class="cardContent cardContent-noMargin">
                  <div class="graphBar graphBarStyle5" style="height:10px"></div>
                  <div class="graphBar graphBarStyle5" style="height:20px"></div>
                  <div class="graphBar graphBarStyle5" style="height:30px"></div>
                  <div class="graphBar graphBarStyle5" style="height:40px"></div>
                  <div class="graphBar graphBarStyle5" style="height:50px"></div>
                  <div class="graphBar graphBarStyle5" style="height:60px"></div>
                  <div class="graphBar graphBarStyle5" style="height:70px"></div>
              </div>
          </div>
    </div>
<!-- Horizontal Cards 2 - No Spacing on Card Content -->
<div class="layoutContainer">
    <div class="rowCard rowCard-borderRadius">
        <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
        </section>
        <div class="cardContent cardContent-noMargin columnCard-borderRadius">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
            <header class="cardHeader">
                <h3>Card Title</h3>
                <h4>Sub-heading</h4>
            </header>
        </section>
        <div class="cardContent cardContent-noMargin columnCard-borderRadius">
            <div class="graphBar graphBarStyle2" style="height:10px"></div>
            <div class="graphBar graphBarStyle2" style="height:20px"></div>
            <div class="graphBar graphBarStyle2" style="height:30px"></div>
            <div class="graphBar graphBarStyle2" style="height:40px"></div>
            <div class="graphBar graphBarStyle2" style="height:50px"></div>
            <div class="graphBar graphBarStyle2" style="height:60px"></div>
            <div class="graphBar graphBarStyle2" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
            <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
            </header>
        </section>
        <div class="cardContent cardContent-noMargin columnCard-borderRadius">
            <div class="graphBar graphBarStyle3" style="height:10px"></div>
            <div class="graphBar graphBarStyle3" style="height:20px"></div>
            <div class="graphBar graphBarStyle3" style="height:30px"></div>
            <div class="graphBar graphBarStyle3" style="height:40px"></div>
            <div class="graphBar graphBarStyle3" style="height:50px"></div>
            <div class="graphBar graphBarStyle3" style="height:60px"></div>
            <div class="graphBar graphBarStyle3" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
            <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
            </header>
        </section>
        <div class="cardContent cardContent-noMargin columnCard-borderRadius">
            <div class="graphBar graphBarStyle4" style="height:10px"></div>
            <div class="graphBar graphBarStyle4" style="height:20px"></div>
            <div class="graphBar graphBarStyle4" style="height:30px"></div>
            <div class="graphBar graphBarStyle4" style="height:40px"></div>
            <div class="graphBar graphBarStyle4" style="height:50px"></div>
            <div class="graphBar graphBarStyle4" style="height:60px"></div>
            <div class="graphBar graphBarStyle4" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
        <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
        </header>
        </section>
        <div class="cardContent cardContent-noMargin columnCard-borderRadius">
            <div class="graphBar graphBarStyle5" style="height:10px"></div>
            <div class="graphBar graphBarStyle5" style="height:20px"></div>
            <div class="graphBar graphBarStyle5" style="height:30px"></div>
            <div class="graphBar graphBarStyle5" style="height:40px"></div>
            <div class="graphBar graphBarStyle5" style="height:50px"></div>
            <div class="graphBar graphBarStyle5" style="height:60px"></div>
            <div class="graphBar graphBarStyle5" style="height:70px"></div>
        </div>
    </div>
</div>

 <!-- Horizontal Cards 2 - No Spacing on Section with Footer -->
 <div class="layoutContainer">
    <div class="rowCard rowCard-borderRadius">
        <section>
          <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin">
            <div class="graphBar graphBarStyle1" style="height:10px"></div>
            <div class="graphBar graphBarStyle1" style="height:20px"></div>
            <div class="graphBar graphBarStyle1" style="height:30px"></div>
            <div class="graphBar graphBarStyle1" style="height:40px"></div>
            <div class="graphBar graphBarStyle1" style="height:50px"></div>
            <div class="graphBar graphBarStyle1" style="height:60px"></div>
            <div class="graphBar graphBarStyle1" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
          <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin">
            <div class="graphBar graphBarStyle2" style="height:10px"></div>
            <div class="graphBar graphBarStyle2" style="height:20px"></div>
            <div class="graphBar graphBarStyle2" style="height:30px"></div>
            <div class="graphBar graphBarStyle2" style="height:40px"></div>
            <div class="graphBar graphBarStyle2" style="height:50px"></div>
            <div class="graphBar graphBarStyle2" style="height:60px"></div>
            <div class="graphBar graphBarStyle2" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
          <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin">
            <div class="graphBar graphBarStyle3" style="height:10px"></div>
            <div class="graphBar graphBarStyle3" style="height:20px"></div>
            <div class="graphBar graphBarStyle3" style="height:30px"></div>
            <div class="graphBar graphBarStyle3" style="height:40px"></div>
            <div class="graphBar graphBarStyle3" style="height:50px"></div>
            <div class="graphBar graphBarStyle3" style="height:60px"></div>
            <div class="graphBar graphBarStyle3" style="height:70px"></div>
        </div>
    </div>
    <div class="rowCard rowCard-borderRadius">
        <section>
          <header class="cardHeader">
            <h3>Card Title</h3>
            <h4>Sub-heading</h4>
          </header>
        </section>
        <div class="cardContent cardContent-noMargin">
            <div class="graphBar graphBarStyle4" style="height:10px"></div>
            <div class="graphBar graphBarStyle4" style="height:20px"></div>
            <div class="graphBar graphBarStyle4" style="height:30px"></div>
            <div class="graphBar graphBarStyle4" style="height:40px"></div>
            <div class="graphBar graphBarStyle4" style="height:50px"></div>
            <div class="graphBar graphBarStyle4" style="height:60px"></div>
            <div class="graphBar graphBarStyle4" style="height:70px"></div>
        </div>
      </div>
      <div class="rowCard rowCard-borderRadius">
          <section>
            <header class="cardHeader">
              <h3>Card Title</h3>
              <h4>Sub-heading</h4>
            </header>
          </section>
          <div class="cardContent cardContent-noMargin">
              <div class="graphBar graphBarStyle5" style="height:10px"></div>
              <div class="graphBar graphBarStyle5" style="height:20px"></div>
              <div class="graphBar graphBarStyle5" style="height:30px"></div>
              <div class="graphBar graphBarStyle5" style="height:40px"></div>
              <div class="graphBar graphBarStyle5" style="height:50px"></div>
              <div class="graphBar graphBarStyle5" style="height:60px"></div>
              <div class="graphBar graphBarStyle5" style="height:70px"></div>
          </div>
      </div>
</div>
<!-- Horizontal Cards 2 - No Spacing on Section -->


</div>
  