<div class="container">
    <!--INDICATORS CONTAINER-->
    <!-- RADIAL PROGRESS INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 1" valueColor="strokeColor1" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 2" valueColor="strokeColor2" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 3" valueColor="strokeColor3" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 4" valueColor="strokeColor4" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 5" valueColor="strokeColor5" strokeDashOffset="60"></app-radial-progress-indicator>

        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Variant Data - 0%" valueColor="strokeColor1" strokeDashOffset="0"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Variant Data - 25%" valueColor="strokeColor2" strokeDashOffset="25"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Variant Data - 50%" valueColor="strokeColor3" strokeDashOffset="50"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Variant Data - 75%" valueColor="strokeColor4" strokeDashOffset="75"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Variant Data - 100%" valueColor="strokeColor5" strokeDashOffset="100"></app-radial-progress-indicator>
    </div>
     <!-- END RADIAL PROGRESS INDICATOR -->
    <!-- GRADIENT RADIAL PROGRESS INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 1" valueColor="strokeColor1" canAnimate="true" styleCap="ROUND" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 2" valueColor="strokeColor2" canAnimate="true" styleCap="SQUARE" strokeDashOffset="60"></app-radial-progress-indicator>
        <app-radial-progress-indicator title="Radial Progress Indicator" subTitle="Color Style 3" valueColor="strokeColor3" canAnimate="true" styleCap="SQUARE" strokeDashOffset="60"></app-radial-progress-indicator>    
    </div>
    <!-- END GRADIENTRADIAL PROGRESS INDICATOR -->
    <!-- CONCENTRIC RADIAL PROGRESS INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-concentric-radial-indicator title="Concentric Radial Progress Indicator" subTitle="Color Style 1" valueColor1="strokeColor3" valueColor2="strokeColor4" strokeDashArray="150" strokeDashOffset="0"  innerStrokeDashOffset="0"></app-concentric-radial-indicator>
        <app-concentric-radial-indicator title="Concentric Radial Progress Indicator" subTitle="Color Style 2" valueColor1="strokeColor3" valueColor2="strokeColor4" strokeDashArray="150" strokeDashOffset="25" innerStrokeDashOffset="25"></app-concentric-radial-indicator>
        <app-concentric-radial-indicator title="Concentric Radial Progress Indicator" subTitle="Color Style 3" valueColor1="strokeColor3" valueColor2="strokeColor4" strokeDashArray="150" strokeDashOffset="50" innerStrokeDashOffset="50"></app-concentric-radial-indicator>
        <app-concentric-radial-indicator title="Concentric Radial Progress Indicator" subTitle="Color Style 4" valueColor1="strokeColor3" valueColor2="strokeColor4" strokeDashArray="150" strokeDashOffset="75" innerStrokeDashOffset="75"></app-concentric-radial-indicator>
        <app-concentric-radial-indicator title="Concentric Radial Progress Indicator" subTitle="Color Style 5" valueColor1="strokeColor3" valueColor2="strokeColor4" strokeDashArray="150" strokeDashOffset="100" innerStrokeDashOffset="100"></app-concentric-radial-indicator>
    </div>
    <!-- END CONCENTRIC RADIAL PROGRESS INDICATOR -->
    <!-- BAR PROGRESS INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Color Style 1" valueColor="strokeColor1" strokeDashArray="150" strokeDashOffset="0" descriptionText="HP: 0/1000"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Color Style 2" valueColor="strokeColor2" strokeDashArray="150" strokeDashOffset="25"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Color Style 3" valueColor="strokeColor3" strokeDashArray="150" strokeDashOffset="50"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Color Style 4" valueColor="strokeColor4" strokeDashArray="150" strokeDashOffset="75"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Color Style 5" valueColor="strokeColor5" strokeDashArray="150" strokeDashOffset="100"></app-bar-progress-indicator>
    </div>
    <!-- END BAR PROGRESS INDICATOR -->
    <!-- BAR PROGRESS INDICATOR WITH DESCRIPTION -->
    <div class="indicatorLayoutContainer">
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Example Description Text" valueColor="strokeColor1" strokeDashArray="150" strokeDashOffset="0" descriptionText="HP: 0/1000" showLabel="true"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Example Description Text" valueColor="strokeColor2" strokeDashArray="150" strokeDashOffset="25" descriptionText="MP: 250/1000" showLabel="true"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Example Description Text" valueColor="strokeColor3" strokeDashArray="150" strokeDashOffset="50" descriptionText="XP: 500/1000"showLabel="true"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Example Description Text" valueColor="strokeColor4" strokeDashArray="150" strokeDashOffset="75"  descriptionText="TP: 750/1000" showLabel="true"></app-bar-progress-indicator>
        <app-bar-progress-indicator title="Bar Progress Indicator" subTitle="Example Description Text" valueColor="strokeColor5" strokeDashArray="150" strokeDashOffset="100" descriptionText="Score: 1000/1000"showLabel="true"></app-bar-progress-indicator>
    </div>
    <!-- END BAR PROGRESS INDICATOR WITH DESCRIPTION -->
    <!-- THERMAL BAR PROGRESS INDICATOR -->
   <div class="indicatorLayoutContainer">
        <app-thermal-bar-indicator title="Thermal Bar Progress Indicator" subTitle="Variant Data - 0%" startGradientColor="#CDDC39" endGradientColor="#E91E63" strokeDashArray="150" strokeDashOffset="0" ></app-thermal-bar-indicator>
        <app-thermal-bar-indicator title="Thermal Bar Progress Indicator" subTitle="Variant Data - 25%" startGradientColor="#CDDC39" endGradientColor="#E91E63" strokeDashArray="150" strokeDashOffset="25"></app-thermal-bar-indicator>
        <app-thermal-bar-indicator title="Thermal Bar Progress Indicator" subTitle="Variant Data - 50%" startGradientColor="#CDDC39" endGradientColor="#E91E63" strokeDashArray="150" strokeDashOffset="50"></app-thermal-bar-indicator>
        <app-thermal-bar-indicator title="Thermal Bar Progress Indicator" subTitle="Variant Data - 75%" startGradientColor="#CDDC39" endGradientColor="#E91E63"strokeDashArray="150" strokeDashOffset="75"></app-thermal-bar-indicator>
        <app-thermal-bar-indicator title="Thermal Bar Progress Indicator" subTitle="Variant Data - 100%" startGradientColor="#9C27B0" endGradientColor="#E91E63" strokeDashArray="150" strokeDashOffset="100"></app-thermal-bar-indicator>
    </div>
    <!-- END THERMAL BAR PROGRESS INDICATOR -->
    
    <!-- STAR RATING INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Default Color Style" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Color Style 1" fillColor="ratingColor1" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Color Style 2" fillColor="ratingColor2" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Color Style 3" fillColor="ratingColor3" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Color Style 4" fillColor="ratingColor4" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Color Style 5" fillColor="ratingColor5" size="4"></app-star-rating-indicator>
    </div>
    <!-- END STAR RATING INDICATOR -->

    <!-- STAR RATING INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 0 Rating" size="0"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 1 Rating" size="1"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 2 Rating" size="2"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 2 Rating" size="3"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 3 Rating" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Variant Data - 3 Rating" size="5"></app-star-rating-indicator>
    </div>
    <!-- END STAR RATING INDICATOR -->

    <!-- STAR RATING INDICATOR WITH LABEL DESCRIPTION-->
    <div class="indicatorLayoutContainer">
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="0"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="1"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="2"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="3"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="4"></app-star-rating-indicator>
        <app-star-rating-indicator title="Star Rating Indicator" subTitle="Show Rating Label" showLabel="true" size="5"></app-star-rating-indicator>
    </div>
    <!-- END STAR RATING INDICATOR WITH LABEL DESCRIPTION -->

    <!-- BATTERY RATING INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="0"></app-battery-indicator>
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="5"></app-battery-indicator>
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="10"></app-battery-indicator>
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="15"></app-battery-indicator>
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="20"></app-battery-indicator>
        <app-battery-indicator title="Battery Rating Indicator" subTitle="Show Rating Label" showLabel="true" increment="4" size="25"></app-battery-indicator>
    </div>
    <!-- END BATTERY RATING INDICATOR -->

    <!-- BATTERY RATING INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 1 &le; 0%" showLabel="true" increment="4" size="0"></app-battery-graded-indicator>
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 1 &le; 25%" showLabel="true" increment="4" size="5"></app-battery-graded-indicator>
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 2 &le; 50%" showLabel="true" increment="4" size="10"></app-battery-graded-indicator>
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 2 &le; 75%" showLabel="true" increment="4" size="15"></app-battery-graded-indicator>
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 3 &le; 75%" showLabel="true" increment="4" size="18"></app-battery-graded-indicator>
        <app-battery-graded-indicator title="Battery Graded Rating Indicator" subTitle="Show Rating Color 3 &le; 100%" showLabel="true" increment="4" size="25"></app-battery-graded-indicator>
    </div>
    <!-- END BATTERY RATING INDICATOR -->

    <!-- HEART RATING INDICATOR -->
    <div class="indicatorLayoutContainer">
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 0 Rating" showLabel="true" size="0"></app-heart-rating-indicator>
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 1 Rating" showLabel="true" size="1"></app-heart-rating-indicator>
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 2 Rating" showLabel="true" size="2"></app-heart-rating-indicator>
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 3 Rating" showLabel="true" size="3"></app-heart-rating-indicator>
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 4 Rating" showLabel="true" size="4"></app-heart-rating-indicator>
        <app-heart-rating-indicator title="Heart Rating Indicator" subTitle="Variant Data - 5 Rating" showLabel="true" size="5"></app-heart-rating-indicator>
    </div>
    <!-- END HEART RATING INDICATOR -->

    <div class="indicatorLayoutContainer">
        <app-calculator title="Basic Calculator" subTitle="Version 1 - Basic calculator. No floating point math."></app-calculator>
    </div>
</div>