<div class="container">
    <!-- VERTICAL BAR GRAPH -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Bar Graph" subTitle="Variable Data" [dataSet]="[]" graphStyles="graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,30,20]" graphStyles="graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,30,20]" graphStyles="graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Variable Data" [dataSet]="[10,-20,60,-40,50,30,10]" graphStyles="graphBarStyle5"></app-bar-graph>
   
        <app-bar-graph title="Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="graphBarStyle5"></app-bar-graph>
    </div>
     <!-- END VERTICAL BAR GRAPH -->
     <!-- VERTICAL ROUNDED BAR GRAPH -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Rounded Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBar graphBarStyle5"></app-bar-graph>
   
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="roundedBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END VERTICAL ROUNDED BAR GRAPH -->
    <!-- VERTICAL ROUNDED TOP BAR GRAPH -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Rounded Top Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedTopBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Top Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedTopBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Top Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedTopBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Top Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedTopBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Top Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedTopBar graphBarStyle5"></app-bar-graph>
   
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="roundedTopBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedTopBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedTopBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedTopBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedTopBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END VERTICAL ROUNDED TOP BAR GRAPH -->
    <!-- VERTICAL ROUNDED BOTTOM BAR GRAPH -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBottomBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBottomBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBottomBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBottomBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="roundedBottomBar graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="roundedBottomBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBottomBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBottomBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBottomBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Rounded Bottom Bar Graph" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="roundedBottomBar graphBarStyle5"></app-bar-graph>
   
    </div>
    <!-- END VERTICAL ROUNDED BOTTOM BAR GRAPH -->
    <!-- VERTICAL SAW TOOTH BAR GRAPH -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopRight graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopRight graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopRight graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopRight graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopRight graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="sawToothBarTopRight graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopRight graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopRight graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopRight graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopRight graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END VERTICAL SAW TOOTH BAR GRAPH --> 
    <!-- VERTICAL SAW TOOTH TOP LEFT BAR GRAPH --> 
    <div class="graphLayoutContainer">
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopLeft graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopLeft graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopLeft graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopLeft graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarTopLeft graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="sawToothBarTopLeft graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopLeft graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopLeft graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopLeft graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Top Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarTopLeft graphBarStyle5"></app-bar-graph>
  
    </div>          
    <!-- END VERTICAL SAW TOOTH TOP LEFT BAR GRAPH --> 
    <!-- VERTICAL SAW TOOTH DOWN RIGHT BAR GRAPH --> 
    <div class="graphLayoutContainer">
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownRight graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownRight graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownRight graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownRight graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownRight graphBarStyle5"></app-bar-graph>
   
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="sawToothBarDownRight graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownRight graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownRight graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownRight graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Right" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownRight graphBarStyle5"></app-bar-graph>
  
    </div>
    <!-- END VERTICAL SAW TOOTH DOWN RIGHT BAR GRAPH --> 
    <!-- VERTICAL SAW TOOTH DOWN LEFT BAR GRAPH --> 
    <div class="graphLayoutContainer">
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownLeft graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownLeft graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownLeft graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownLeft graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="sawToothBarDownLeft graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Variable Data" [dataSet]="[10,20]" graphStyles="sawToothBarDownLeft graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownLeft graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownLeft graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownLeft graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Saw Tooth Bar Graph Down Left" subTitle="Variable Data" [dataSet]="[10,20,60,40,50,80,15]" graphStyles="sawToothBarDownLeft graphBarStyle5"></app-bar-graph>
  
    </div>
    <!--END  VERTICAL SAW TOOTH DOWN LEFT BAR GRAPH --> 

    <!-- VERTICAL BILLOW CLOUD GRAPH-->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Billow Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="billowBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Billow Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="billowBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Billow Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="billowBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Billow Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="billowBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Billow Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" graphStyles="billowBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- HORIZONTAL BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END HORIZONTAL GRAPHS-->
    <!-- HORIZONTAL BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle5"></app-bar-graph>

        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 2" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 3" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 4" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Bar Graph" subTitle="Color Style 5" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- HORIZONTAL ROUNDED RIGHT BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle5"></app-bar-graph>
    
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 2" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 3" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 4" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Right Bar Graph" subTitle="Color Style 5" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedRightBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END HORIZONTAL ROUNDED RIGHT BAR GRAPHS-->
    <!-- HORIZONTAL ROUNDED LEFT BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle5"></app-bar-graph>
    
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 2" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 3" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 4" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Rounded Left Bar Graph" subTitle="Color Style 5" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="roundedLeftBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END HORIZONTAL ROUNDED LEFT BAR GRAPHS-->
    <!-- HORIZONTAL BILLOW BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="billowBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="billowBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="billowBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="billowBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="billowBar graphBarStyle5"></app-bar-graph>
    
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20]" [isVertical] = "false" graphStyles="billowBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 2" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="billowBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 3" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="billowBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 4" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="billowBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 5" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="billowBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END HORIZONTAL BILLOW  BAR GRAPHS-->
    <!-- HORIZONTAL REVERSE BILLOW BAR GRAPHS -->
    <div class="graphLayoutContainer">
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 2" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 3" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 4" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Billow Bar Graph" subTitle="Color Style 5" [dataSet]="[10,20,30,40,50,60,70]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle5"></app-bar-graph>
    
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 1" [dataSet]="[10,20]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle1"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse illow Bar Graph" subTitle="Color Style 2" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle2"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 3" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle3"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 4" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle4"></app-bar-graph>
        <app-bar-graph title="Horizontal Reverse Billow Bar Graph" subTitle="Color Style 5" [dataSet]="[10,40,80,40,10,5,15]" [isVertical] = "false" graphStyles="reverse-billowBar graphBarStyle5"></app-bar-graph>
    </div>
    <!-- END HORIZONTAL REVERSE BILLOW  BAR GRAPHS-->
</div>
  