@import '~sass/variables';

/** Graph card layout container */
.graphLayoutContainer{
    display:flex;
    background-color: #CFD8DC;
    overflow:auto;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    background: rgb(34,38,195);
    background: linear-gradient(138deg, rgba(34,38,195,1) 0%, rgba(253,45,135,1) 100%);
    /* background: rgb(195,34,144);
    background: linear-gradient(138deg, rgba(195,34,144,1) 0%, rgba(253,106,45,1) 100%); */
}

/** Graph card container */
.graphCard{
    background-color: #ffffff;
    box-shadow: $defaultBoxShadow;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphCardHeader {
    padding: 1rem;
    width: 10rem;
}

.graphCardHeader > h3{
    color: #039be5;
}

/** Default Vertical Bottom Aligned Graphs */
.graph{
    display: inline-flex;
    background-color: #011924;
    height: 6rem;
    padding: 1rem;
    box-sizing: content-box;
    align-items: flex-end;
    margin: 0 1rem 1rem 1rem;
}

/** Default Horizontal Bottom Aligned Graphs */
.horizontalGraph{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #011924;
    height: 100%;
    padding: 1rem;
    box-sizing: content-box;
    align-items: flex-start;
    margin: 0 1rem 1rem 1rem;
}

.align-graph-center{
    align-items: center;
}

.align-graph-up{
    align-items: flex-end;
}

.align-graph-down{
    align-items: flex-start;
}

/** Top to Bottom Aligned Graphs **/
.graph .top-to-bottom-align {
    align-items: flex-start;
}

/** Vertical graph bar with default white bars **/
.graphBar{
    background-color: #ffffff;
    color: #011924;
    margin-left: 0.125rem;
    padding: 0.5rem;
}

/** Horizontal graph bar with default white bars **/
.horizontalGraphBar{
    background-color: #ffffff;
    color: #011924;
    margin-top: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.widgets{
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Bar Color Styles */
.graphBarStyle1{
    background-color: #00BFA5;
}

.graphBarStyle1:hover{
    background-color: #4DB6AC;
}

.graphBarStyle2{
    background-color: #E91E63;
}

.graphBarStyle2:hover{
    background-color: #F06292;
}

.graphBarStyle3{
    background-color: #F44336;
}

.graphBarStyle3:hover{
    background-color: #E57373;
}

.graphBarStyle4{
    background-color: #9C27B0;
}

.graphBarStyle4:hover{
    background-color: #BA68C8;
}

.graphBarStyle5{
    background-color: #CDDC39;
}

.graphBarStyle5:hover{
    background-color: #DCE775;
}

.graphBarStyle6{
    background-color: #007AFF;
}

.graphBarStyle6:hover{
    background-color: #007AFF;
}
/** End Bar Color Styles */

/** End Bar Color Styles */

/** Rounded Graph Bar Curve */
.roundedBar{
    border-radius: 2rem;
}

.roundedTopBar{
    border-radius: 2rem 2rem 0 0;
}

.roundedBottomBar{
    border-radius: 0 0 2rem 2rem;
}

.roundedLeftBar{
    border-radius: 2rem 0 0 2rem;
}

.roundedRightBar{
    border-radius: 0 2rem 2rem 0;
}

/** End Rounded Graph Bar Curve */

/** Saw Graph Bar Top Right Curve */
.sawToothBarTopRight{
    border-radius: 0 2rem 0 0;
}

/** Saw Graph Bar Down Left Curve **/
.sawToothBarTopLeft{
    border-radius: 2rem 0 0 0;
}

.sawToothBarTopLeft + .sawToothBarTopRight{
    margin:0;
}
/** Saw Tool Bar Down Right Curve **/
.sawToothBarDownLeft{
    border-radius: 0 0 0 2rem;
}

/** Saw Tool Bar Down Left Curve **/
.sawToothBarDownRight{
    border-radius: 0 0 2rem 0;
}

/** Billow Graph Bar **/
.billowBar{
   border-radius: 2rem 0;
}

/** Reverse Billow  Graph Bar **/
.reverse-billowBar{
  border-radius: 0 2rem;
}
