<div class="graphCard">
    <header class="graphCardHeader">
        <h3>{{title}}</h3>
        <h4>{{subTitle}}</h4>
    </header>
  <section class="graph">
    <!--RADIAL PROGRESS INDICATOR-->
    <!--Outer div is for ARIA accessibility-->
    <div role="progressbar" [attr.aria-valuenow]="strokeDashOffset" aria-valuemin="0" aria-valuemax="100">
      <svg width="200" height="20">
        <defs>
        <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
          <!--TODO: The attribute binding is not working or not showing colors passed in-->
            <stop offset="0%" [attr.stop-color]="startGradientColor"></stop>
            <stop offset="100%" [attr.stop-color]="endGradientColor"></stop>
        </linearGradient>
       </defs>
        <!-- PROGRESS METER -->
        <path
        class="progress_meter" 
        [ngClass]="meterColor"
        d="M0 10, 150 10">
          <title>{{showRemainingPercentage()}}</title>
        </path> 

        <!--PROGRESS VALUE-->
        <rect class="progress_value" fill="url(#gradient1)" x="0" y="3" rx="0" ry="0" [attr.width]="calculateProgress(strokeDashOffset,strokeDashArray)" height="14">
            <title>{{showActualPercentage()}}</title>
        </rect>
        <text class="text-progress-value"x="180" y="14">{{strokeDashOffset}}%</text>
      </svg>
    </div>
  </section>
</div>