
<div class="application">
    <header class="banner">
        <h1>{{title}}</h1>
        <h4>{{subTitle}}</h4>
    </header>
    <section class="content">
        <nav class="topNavigation tabContainer-2 ">
            <a routerLink="/styleGuide" title="Style Guide" routerLinkActive="active">Style Guide</a>
            <a routerLink="/typography" title="Typograhpy" routerLinkActive="active">Typography</a>
            <a routerLink="/dashboard" title="Dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/heroes" title="Heroes" routerLinkActive="active">Heroes</a>
            <a routerLink="/graphs" title="Graphs" routerLinkActive="active">Graphs</a>
            <a routerLink="/indicators" title="Indicators" routerLinkActive="active">Indicators</a>
            <a routerLink="/cards" title="Cards" routerLinkActive="active">Cards</a>
            <a routerLink="/productionDataSets" title="Production Data Sets" routerLinkActive="active">Production Data Sets</a>
        </nav>
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </section>
</div>