<div class="container">
<!-- LIGHT THEME -->
<!-- Theme Color Palette Container -->
    <div class="colorLayoutContainer colorGradientRange7">
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Brand Color</h3>
                  <h4>Color Style 1</h4>
              </header>
            </section>
            <div class="colorPaletteBox brandColor"></div>
            <footer class="cardFooter">
                <h5>HEX: #011924</h5>
                <h5>RGBA: 1,25,36,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Primary Color</h3>
                  <h4>Color Style 2</h4>
              </header>
            </section>
            <div class="colorPaletteBox primaryColor"></div>
            <footer class="cardFooter">
                <h5>HEX: #E91E63</h5>
                <h5>RGBA: 0,191,165,100</h5>
            </footer>
        </div>

        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Neutral Color</h3>
                  <h4>Color Style 3</h4>
              </header>
            </section>
            <div class="colorPaletteBox neutralColor"></div>
            <footer class="cardFooter">
                <h5>HEX: #CFD8DC</h5>
                <h5>RGBA: 207,216,220,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Accent Color</h3>
                  <h4>Color Style 4</h4>
              </header>
            </section>
            <div class="colorPaletteBox accentColor"></div>
            <footer class="cardFooter">
                <h5>HEX: #00BFA5</h5>
                <h5>RGBA: 0,191,165,100</h5>
            </footer>
        </div>
    </div>
<!-- End Theme Color Palette Container -->
<!-- Gradient Color Range Container -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Color Gradient 1 </h3>
              <h4>Range Style 1</h4>
          </header>
        </section>
        <div class="colorPaletteBox colorGradientRange1"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: rgb(34,38,195)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(34,38,195,1) 0%, rgba(253,45,135,1) 100%)</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
            <h3>Color Gradient 2 </h3>
            <h4>Range Style 2</h4>
          </header>
        </section>
        <div class="colorPaletteBox colorGradientRange2"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: RGB(195,34,144)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(195,34,144,1) 0%, rgba(253,106,45,1) 100%)</h5>
        </footer>
    </div>

    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Color Gradient 3</h3>
              <h4>Range Style 3</h4>
          </header>
        </section>
        <div class="colorPaletteBox colorGradientRange3"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: RGBA(233,30,99)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(233,30,99,1) 0%, rgba(253,106,45,1) 100%)</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Color Gradient 4</h3>
              <h4>Range Style 4</h4>
          </header>
        </section>
        <div class="colorPaletteBox colorGradientRange4"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: RGBA(0,191,165)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(20,191,165,1) 0%, rgba(205,220,57,1) 100%)</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
            <header class="cardHeader">
                <h3>Color Gradient 5</h3>
                <h4>Range Style 5</h4>
            </header>
        </section>
        <div class="colorPaletteBox colorGradientRange5"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: RGBA(0,191,165)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(20,191,165,1) 0%, rgba(0,122,255,1) 100%)</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
            <header class="cardHeader">
                <h3>Color Gradient 6</h3>
                <h4>Range Style 6</h4>
            </header>
        </section>
        <div class="colorPaletteBox colorGradientRange6"></div>
        <footer class="cardFooter">
            <h5>Default Background RGBA: RGBA(6,39,176)</h5>
            <h5>Linear Gradient: linear-gradient(138deg, rgba(6,39,176,1) 0%, rgba(0,122,255,1) 100%)</h5>
        </footer>
    </div>
</div>
<!-- End Theme Color Palette Container -->
<!-- Graph Color Palette Container -->
     <div class="colorLayoutContainer colorGradientRange7">
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 1</h3>
                  <h4>Color Style 1</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor1"></div>
            <footer class="cardFooter">
                <h5>HEX: #00BFA5</h5>
                <h5>RGBA: 1,25,36,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 2</h3>
                  <h4>Color Style 2</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor2"></div>
            <footer class="cardFooter">
                <h5>HEX: #E91E63</h5>
                <h5>RGBA: 233,30,99,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 3</h3>
                  <h4>Color Style 3</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor3"></div>
            <footer class="cardFooter">
                <h5>HEX: #F44336</h5>
                <h5>RGBA: 244,67,54,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 4</h3>
                  <h4>Color Style 4</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor4"></div>
            <footer class="cardFooter">
                <h5>HEX: #9C27B0</h5>
                <h5>RGBA: 156,39,176,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 5</h3>
                  <h4>Color Style 5</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor5"></div>
            <footer class="cardFooter">
                <h5>HEX: #CDDC39</h5>
                <h5>RGBA: 205,220,57,100</h5>
            </footer>
        </div>
        <div class="colorPaletteCard">
            <section>
              <header class="cardHeader">
                  <h3>Graph Color 6</h3>
                  <h4>Color Style 6</h4>
              </header>
            </section>
            <div class="colorPaletteBox graphColor6"></div>
            <footer class="cardFooter">
                <h5>HEX: #007AFF</h5>
                <h5>RGBA: 0,122,255,100</h5>
            </footer>
        </div>
    </div>
<!-- Graph Color Palette Container -->

<!-- Light Avatar Color Palette Container Light Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 1</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 2</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 3</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 4</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 5</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 6</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
</div>
<!-- Light Avatar Color Palette Container Light Text-->
<!-- Light Ring Avatar Color Palette Container Light Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 1</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 2</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 3</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 4</h3>
              <h4>CAvatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 5</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 6</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-darkRing graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
</div>
<!-- Light Ring Avatar Color Palette Container Light Text-->
<!-- Light Avatar Color Palette Container Dark Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 1</h3>
              <h4>Font Color: #FFFFFF </h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 2</h3>
              <h4>Color Style 2</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 3</h3>
              <h4>Color Style 3</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 4</h3>
              <h4>Color Style 4</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 5</h3>
              <h4>Color Style 5</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 6</h3>
              <h4>Color Style 6</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
</div>
<!-- Light Avatar Color Palette Container Dark Text-->
<!-- Light Ring Avatar Color Palette Container Dark Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 1</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 2</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 3</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 4</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 5</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 6</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
</div>
<!-- Light Ring Avatar Color Palette Container Dark Text-->


<!-- BUTTON THEMES -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="buttonCard">
            <p class='theme-1'>
            <span class="buttonTheme">Theme 1</span>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-other">Other</button>
                <button class="btn btn-other2">Other 2</button>
                <button class="btn btn-primary" disabled>Primary [d]</button>
                <button class="btn btn-secondary" disabled>Secondary [d]</button>
            </p>
            <p class='theme-2'>
                <span class="buttonTheme">Theme 2</span>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-other">Other</button>
                <button class="btn btn-other2">Other 2</button>
                <button class="btn btn-primary" disabled>Primary [d]</button>
                <button class="btn btn-secondary" disabled>Secondary [d]</button>
            </p>
            <p class='theme-3'>
                <span class="buttonTheme">Theme 3</span>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-other">Other</button>
                <button class="btn btn-other2">Other 2</button>
                <button class="btn btn-primary" disabled>Primary [d]</button>
                <button class="btn btn-secondary" disabled>Secondary [d]</button>
            </p>
    </div>
</div>
<!-- BUTTON THEMES-->
<!-- BEM BUTTON THEMES -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="buttonCard">
            <p class='theme-1'>
            <span class="buttonTheme">BEM Test 1</span>
                <button class="btn btn--mode-primary"> Buy now! <span class="btn__price">$1.00</span></button>
                <label>Primary</label>
            </p>
            <p class='theme-1'>
            <span class="buttonTheme">BEM TEST 2</span>
            <button class='btn btn--mode-secondary'>
                Buy now! <span class="btn__price">$1.00</span>
            </button>
            <label>Secondary</label>
            </p>
        
            <p class='theme-1'>
            <span class="buttonTheme">BEM TEST 3</span>
            <button class='btn btn--mode-primary' disabled>
                Buy now! <span class="btn__price">$1.00</span>
            </button>
            <label>Primary Disabled</label>
            </p>
        
            <p class='theme-1'>
            <span class="buttonTheme">BEM TEST 4</span>
            <button class='btn btn--mode-secondary' disabled>
                Buy now! <span class="btn__price">$1.00</span>
            </button>
            <label>Secondary Disabled</label>
            </p>
    </div>
</div>
<!-- BEM BUTTON THEMES-->
<!-- END LIGHT THEME -->

<!-- DARK THEME -->
<!-- Dark Graph Color Palette Container -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 1</h3>
              <h4>Color Style 1 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor1"></div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 2</h3>
              <h4>Color Style 2 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor2"></div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 3</h3>
              <h4>Color Style 3 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor3"></div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 4</h3>
              <h4>Color Style 4 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor4"></div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 5</h3>
              <h4>Color Style 5 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor5"></div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Graph Color 6</h3>
              <h4>Color Style 6 on Brand Background</h4>
          </header>
        </section>
        <div class="colorPaletteBox graphColor6"></div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
        </footer>
    </div>
</div>
<!-- Dark Graph Color Palette Container -->
<!-- Dark Avatar Color Palette Container Light Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 1</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 2</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 3</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 4</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 5</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 6</h3>
              <h4>Default Avatar</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
</div>
<!-- Dark Avatar Color Palette Container Light Text-->
<!-- Dark Ring Avatar Color Palette Container Light Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 1</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 2</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 3</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 4</h3>
              <h4>CAvatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox  avatarCircle-ring graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 5</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar Color 6</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #FFFFFF</h5>
            <h5>Avatar Text RGBA: 255,255,255,100</h5>
        </footer>
    </div>
</div>
<!-- Dark Ring Avatar Color Palette Container Light Text-->
<!-- Dark Avatar Color Palette Container Dark Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 1</h3>
              <h4>Font Color: #FFFFFF </h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 2</h3>
              <h4>Color Style 2</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 3</h3>
              <h4>Color Style 3</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 4</h3>
              <h4>Color Style 4</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 5</h3>
              <h4>Color Style 5</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Darker Text - Color 6</h3>
              <h4>Color Style 6</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle darkAvatarTextColor graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
</div>
<!-- Dark Avatar Color Palette Container Dark Text-->
<!-- Dark Ring Avatar Color Palette Container Dark Text -->
<div class="colorLayoutContainer colorGradientRange7">
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 1</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor1">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #00BFA5</h5>
            <h5>RGBA: 1,25,36,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 2</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor2">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #E91E63</h5>
            <h5>RGBA: 233,30,99,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 3</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor3">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #F44336</h5>
            <h5>RGBA: 244,67,54,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 4</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor4">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #9C27B0</h5>
            <h5>RGBA: 156,39,176,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 5</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor5">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #CDDC39</h5>
            <h5>RGBA: 205,220,57,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
    <div class="colorPaletteDarkCard">
        <section>
          <header class="cardHeader">
              <h3>Avatar with Border - Color 6</h3>
              <h4>Avatar with Border Style</h4>
          </header>
        </section>
        <div class="colorPaletteBox avatarCircle-ring darkAvatarTextColor graphColor6">TL</div>
        <footer class="cardFooter">
            <h5>HEX: #007AFF</h5>
            <h5>RGBA: 0,122,255,100</h5>
            <h5>Avatar Text HEX: #011924</h5>
            <h5>Avatar Text RGBA: 1,25,36,100</h5>
        </footer>
    </div>
</div>
<!-- Dark Ring Avatar Color Palette Container Dark Text-->
<!-- END DARK THEME -->
</div>