@import '~sass/variables';

/** Color Card layout container */
.colorLayoutContainer{
    display:flex;
    flex-wrap:wrap;
    background-color: $neutralColor;
    overflow:auto;
    width: 100%;
    margin-bottom: 1rem;
}

/** Graph card container */
.colorPaletteCard{
    background-color: #ffffff; /** TODO Change to variable */
    box-shadow: $defaultBoxShadow;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonCard{
    background-color: #ffffff; /** TODO Change to variable */
    box-shadow: $defaultBoxShadow;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.buttonTheme {
    margin-left: 1rem;
    margin-right: 1rem;
}

/** Dark Graph card container */
.colorPaletteDarkCard{
    background-color: #011924;
    box-shadow: $defaultBoxShadow;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardHeader {
    padding: 0 1rem;
    width: 10rem;
}

.cardHeader > h3{
    color: #039be5;
}

.cardFooter {
    padding: 0 1rem;
    width: 10rem;
}

/** Default Vertical Bottom Aligned Graphs */
.colorPaletteBox {
    display: inline-flex;
    background-color: #808080;
    height: 6rem;
    padding: 1rem;
    box-sizing: content-box;
    align-items: flex-end;
    margin: 0 1rem;
}

.avatarCircle { 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center; /* Align text in center */
}

.avatarCircle-ring{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center; /* Align text in center */
}

.avatarCircle-darkRing{
    border: 4px solid transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center; /* Align text in center */
}

.avatarCircle-darkRing.graphColor1{
    border-color: #004D40;
}

.avatarCircle-darkRing.graphColor2{
    border-color: #880E4F;
}

.avatarCircle-darkRing.graphColor3{
    border-color: #B71C1C;
}

.avatarCircle-darkRing.graphColor4{
    border-color: #4A148C;
}

.avatarCircle-darkRing.graphColor5{
    border-color: #827717;
}

.avatarCircle-darkRing.graphColor6{
    border-color: #0D47A1;
}

.colorPaletteCircle { 
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center; /* Align text in center */
}

.avatarTextColor{
    color: #ffffff;
}

.darkAvatarTextColor{
    color: #011924;
}

.brandColor{
    background-color: $brandColor;
}

.primaryColor{
    background-color: $primaryColor;
}

.neutralColor{
    background-color: $neutralColor;
}

.accentColor {
    background-color: $accentColor;
}

.graphColor1{
    background-color: $graphColor1;
}

.graphColor2{
    background-color: $graphColor2;
}

.graphColor3{
    background-color: $graphColor3;
}

.graphColor4{
    background-color: $graphColor4;
}

.graphColor5{
    background-color: $graphColor5;
}

.graphColor6{
    background-color: $graphColor6;
}

.colorGradientRange1{
    background: rgb(34,38,195);
    background: linear-gradient(138deg, rgba(34,38,195,1) 0%, rgba(253,45,135,1) 100%);
}

.colorGradientRange2{
    background: rgb(195,34,144);
    background: linear-gradient(138deg, rgba(195,34,144,1) 0%, rgba(253,106,45,1) 100%);
}

.colorGradientRange3{
   background: rgb(233,30,99);
   background: linear-gradient(138deg, rgba(233,30,99,1) 0%, rgba(253,106,45,1) 100%);
}

.colorGradientRange4{
    background: rgb(0,191,165);
    background: linear-gradient(138deg, rgba(20,191,165,1) 0%, rgba(205,220,57,1) 100%);
 }

 .colorGradientRange5{
    background: rgb(0,191,165);
    background: linear-gradient(138deg, rgba(20,191,165,1) 0%, rgba(0,122,255,1) 100%);
 }

 .colorGradientRange6{
    background: rgb(6,39,176);
    background: linear-gradient(138deg, rgba(6,39,176,1) 0%, rgba(0,122,255,1) 100%);
 }

 .colorGradientRange7{
    background: rgb(1,25,36);
    background: linear-gradient(138deg, rgba(1,25,36,1) 0%, rgba(207,216,220,1) 100%);}

 .colorGradientRange8{
    background: rgb(1,25,36);
    background: linear-gradient(138deg, rgba(1,25,36,1) 0%, rgba(0,122,255,1) 100%);
 }